.extra-space {
    padding-top: 15px;
    padding-bottom: 15px;
}

.form-divider {
    border-top: 1px solid #ccc;
}

.blue {
    color: #428bca;
}

.response-card {
    background-color: #F5F5F5;
    box-shadow: 0 1px 1px 0 #BDBDBD;
    border-radius: 1px;
    padding: 20px;
    height: 120px;
    line-height: 80px;
    margin-bottom: 30px;
    text-align: center;
    cursor: pointer;
}

.response-card:hover {
    background-color: #EEEEEE;
}

.fill {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
}

.login-box {
    width: 480px;
    margin: 0 auto;
}

.login-container {
    background-color: #007095;
}

.login-image {
    margin: 0 auto;
    height: 15vw;
    max-height: 180px;
    min-height: 80px;
    background-image: url('/img/psu_white_short.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#edit-button {
    cursor: pointer;
}

#edit-button:hover {
    text-decoration: underline;
}

.reveal-modal {
    top: 45px !important;
}

.survey-row {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.required {
    color: #F44336;
    font-size: 1.5em;
    line-height: 0.75em;
}