body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.navbar-brand {
    float: left;
    padding: 5px 15px;
    font-size: 18px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.extra-space {
    padding-top: 15px;
    padding-bottom: 15px;
}

tbody>tr {
    cursor: pointer;
}

.form-divider {
    border-top: 1px solid #ccc;
}

/*.navbar-default .navbar-text {*/
    /*color: #ffffff;*/
/*}*/