RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]
Header set Access-Control-Allow-Origin: "*"
Header set Access-Control-Allow-Methods: "GET, POST, PUT, DELETE"
Header set Access-Control-Allow-Headers: "X-Requested-With, X-Authentication, X-client, X-authentication"