<thead>
    <tr>
        <td width="75"></td>
        <td width="75"></td>
        <td>Name</td>
        <td width="200">Date Created</td>
        <td>Description</td>
    </tr>
</thead>
<tbody>
    {{! body goes here }}
</tbody>