<thead>
    <tr>
        <td width="25"></td>
        <td>Name</td>
        <td class="hide-for-small-down" width="200">Date Created</td>
        <td class="hide-for-small-down">Description</td>
    </tr>
</thead>
<tbody>
    {{! body goes here }}
</tbody>