<div class="row">
    <div class="medium-12 columns">
        <h1>Account</h1>
        <hr>
    </div>
</div>

<div class="row">
    <div class="medium-4 columns">
        <div>
            <ul class="side-nav">
                <li>Account Actions</li>
                <li><a onclick="confirm('Are you sure you want to deactivate your account?\n\nNOTE: THIS DOES NOT DELETE YOUR ACCOUNT. CONTACT DATABASE ADMIN TO DELETE YOUR ACCOUNT.')">Deactivate account</a></li>
            </ul>
        </div>
    </div>
    <div class="medium-8 columns">
        <div class="panel">
            <h4>Update or modify your account</h4>
            <hr class="form-divider">
            <div class="row">
                <div class="small-12 columns">
                    <label>Username</label>
                    <input id="" type="text" placeholder="Enter username" value="{{username}}">
                </div>
                <div class="small-12 columns">
                    <label>Email</label>
                    <input id="" type="text" placeholder="Enter email" value="{{email}}">
                </div>
                <div class="small-12 columns">
                    <label>First Name</label>
                    <input id="" type="text" placeholder="Enter first name" value="{{first_name}}">
                </div>
                <div class="small-12 columns">
                    <label>Last Name</label>
                    <input id="" type="text" placeholder="Enter last name" value="{{last_name}}">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="medium-4 columns"></div>
    <div class="medium-8 columns">
        <div class="panel">
            <h4>Accounts requesting access</h4>
            <hr class="form-divider">
        </div>
    </div>
</div>