<div class="row">
    <div class="medium-12 columns">
        <h1>Account</h1>
    </div>
</div>

<div class="row">
    <div class="medium-6 columns">
        <div class="panel">
            <div class="panel-heading"><h5>Update or modify your account</h5></div>
            <hr class="form-divider">
            <div class="panel-body">
                <div class="row">
                    <div class="small-12 columns">
                        <label>Username</label>
                        <input id="" type="text" placeholder="Enter username" value="{{username}}">
                    </div>
                    <div class="small-12 columns">
                        <label>Email</label>
                        <input id="" type="text" placeholder="Enter email" value="{{email}}">
                    </div>
                    <div class="small-12 columns">
                        <label>First Name</label>
                        <input id="" type="text" placeholder="Enter first name" value="{{first_name}}">
                    </div>
                    <div class="small-12 columns">
                        <label>Last Name</label>
                        <input id="" type="text" placeholder="Enter last name" value="{{last_name}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="medium-6 columns">
        <div class="panel">
            <div class="panel-heading"><h5>Accounts requesting access</h5></div>
            <hr class="form-divider">
        </div>
    </div>
</div>