<div id="loginErrorModal" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="text-center">Login Error</h2>
    <p class="lead">Oh no! Something went wrong.</p>
    <p>There was a problem logging you in. Check your login and try again.</p>
    <a class="close-reveal-modal" onclick="$('#loginErrorModal').foundation('reveal', 'close');" aria-label="Close">&#215;</a>
</div>

<div id="loginRequestUserModal" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="text-center">Account Error</h2>
    <p class="lead">Oh no! Something went wrong.</p>
    <p>Your account is still in the process of being approved. Contact and admin expedite account approval.</p>
    <a class="close-reveal-modal" onclick="$('#loginRequestUserModal').foundation('reveal', 'close');" aria-label="Close">&#215;</a>
</div>

<div class="fill login-container">
    <div class="row">
        <div class="medium-6 medium-centered columns login-image">

        </div>
    </div>
    <div class="row">
        <div class="medium-6 medium-centered columns">
            <div class="panel">
                <div class="panel-heading">
                    <h3>Login to get started</h3>
                </div>
                <hr class="form-divider">
                <div class="panel-body">
                    <form id="loginForm">
                        <div class="row">
                            <div class="small-12 columns">
                                <label for="identification">
                                    Username or Email
                                    <input type="text" id="identification" name="identification" placeholder="Enter username or email" />
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-12 columns">
                                <label for="password">
                                    Password
                                    <input type="password" id="password" name="password" placeholder="Enter password" />
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-12 columns">
                                <button type="submit" class="button" style="width: 100%">Log in</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <p class="text-center"><a href="/register" style="color: #ffffff;">Request an account.</a></p>
    </div>

</div>