<div class="container">
    <div class="row">
        <div class="col-md-6 col-centered">
            <h2>Login</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-centered">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Login to get started
                </div>
                <div class="panel-body">
                    <form id="loginForm">
                        <div class="form-group">
                            <label for="identification" class="control-label">Username or Email</label>
                            <input type="text" class="form-control" id="identification" name="identification" placeholder="Enter username or email">
                        </div>
                        <div class="form-group">
                            <label for="password" class="control-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>