<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1>Manage Survey</h1>
            <p>&nbsp;</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Survey Information</h3>
                        </div>
                        <div class="panel-body">
                            <form>
                                <div class="form-group">
                                    <label for="survey_name">Survey Name</label>
                                    <input type="text" class="form-control" id="survey_name" value="{{survey_name}}">
                                </div>
                                <div class="form-group">
                                    <label for="survey_permalink">Survey Permalink</label>
                                    <p class="help-block">
                                        This is the URL that will be used to access the survey.
                                    </p>
                                    <input type="text" class="form-control" id="survey_permalink" value="{{survey_permalink}}">
                                </div>
                                <div class="form-group">
                                    <label for="survey_description">Survey Description</label>
                                    <p class="help-block">
                                        Keep it short and sweet.
                                    </p>
                                    <input type="text" class="form-control" id="survey_description" value="{{survey_description}}">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Survey Notes</h3>
                        </div>
                        <div class="panel-body">
                            <textarea class="form-control" rows="10">{{survey_notes}}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1>Survey Responses</h1>
            <p>&nbsp;</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-search"></span></span>
                    <input type="text" class="form-control" placeholder="Search for a response">
                </div>
            </form>
        </div>
    </div>

    <div class="row" style="margin-top: 30px;">

        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="response-card">Matt Porter</div>
        </div>

        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="response-card">Matt Porter</div>
        </div>

        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="response-card">Matt Porter</div>
        </div>

        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="response-card">Matt Porter</div>
        </div>

        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="response-card">Matt Porter</div>
        </div>

        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="response-card">Matt Porter</div>
        </div>

        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="response-card">Matt Porter</div>
        </div>

        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="response-card">Matt Porter</div>
        </div>

        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="response-card">Matt Porter</div>
        </div>

        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="response-card">Matt Porter</div>
        </div>

        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="response-card">Matt Porter</div>
        </div>

        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="response-card">Matt Porter</div>
        </div>

        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="response-card">Matt Porter</div>
        </div>

        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="response-card">Matt Porter</div>
        </div>

        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="response-card">Matt Porter</div>
        </div>

        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="response-card">Matt Porter</div>
        </div>

        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="response-card">Matt Porter</div>
        </div>

        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="response-card">Matt Porter</div>
        </div>

        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="response-card">Matt Porter</div>
        </div>

        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="response-card">Matt Porter</div>
        </div>

        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="response-card">Matt Porter</div>
        </div>

    </div>

</div>