<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">
                <img alt="Brand" src="/img/psu_2tone_short.png" height="40">
            </a>
        </div>
        <div class="nav navbar-nav navbar-left hidden-xs">
            <ul class="nav navbar-nav">
                <li id="navOverview"><a href="/overview">Overview</a></li>
                <li id="navAccount"><a href="/account">Account</a></li>
            </ul>
        </div>
        <div class="nav navbar-nav navbar-right hidden-xs">
            <!--<p id="greeting" class="navbar-text white">Welcome back, <a href="/account">{{firstName}} {{lastName}}</a></p>-->
            <button id="logoutButton" class="btn btn-primary navbar-btn" type="submit">Logout</button>
        </div>
    </div>
</nav>