<div class="row">
    <div class="medium-12 columns">
        <h1>Add a new survey</h1>
        <hr>
    </div>
</div>

<div class="row">
    <div class="medium-4 columns">
        <div>
            <ul class="side-nav">
                <li>New Survey Actions</li>
                <li><a id="clearButton">Clear fields</a></li>
                <li><a id="autoFillButton">Autofill fields</a></li>
            </ul>
        </div>
    </div>
    <div class="medium-8 columns">
        <div class="panel">
            <div class="row">
                <div class="small-12 columns">
                    <h5>Survey Name</h5>
                    <label>
                        Make it useful and descriptive, like <i>Penn State College Fair</i>.
                        <input type="text" id="surveyName" placeholder="Enter survey name">
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="small-12 columns">
                    <h5>Survey Description</h5>
                    <label>
                        What's the purpose of this survey?
                        <input type="text" id="surveyDescription" placeholder="Enter survey description">
                    </label>
                </div>
            </div>

            <!--<div class="row">-->
                <!--<div class="small-12 columns">-->
                    <!--<h5>Survey Date</h5>-->
                    <!--<label>-->
                        <!--This should be the date of the event. It defaults to today, but you can change it if you want.-->
                        <!--<input id="surveyDate" size="16" type="text" value="{{mm}}}/{{dd}}/{{yyyy}}"-->
                               <!--data-date-format="mm/dd/yyyy">-->
                    <!--</label>-->
                <!--</div>-->
            <!--</div>-->
            <div class="row">
                <div class="medium-12 columns">
                    <a id="updateButton" class="button small">Create survey</a>
                </div>
            </div>
        </div>
    </div>
</div>

