<div class="row">
    <div class="medium-12 columns">
        <h1>Overview</h1>
        <hr>
    </div>
</div>

<div class="row">
    <div class="medium-12 columns">
        <h4>Filter Surveys {{!<small>For filter use, see <a href="support">support</a></small>}}</h4>
    </div>
</div>

<div class="row">
    <div class="medium-12 columns">
        <div class="row collapse">
            <div class="medium-12 columns">
                <input id="survey-search-field" type="text" placeholder="Search by survey name">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="medium-12 columns">
        <h4>Surveys <small>Click a survey for more options</small></h4>
    </div>
</div>

<div class="row">
    <div id="surveys-table" class="medium-12 columns"></div>
</div>