<div class="row">
    <div class="medium-12 columns">
        <h1>Overview</h1>
        <hr>
    </div>
</div>

<div class="row">
    <div class="medium-12 columns">
            <div class="row">
                <div class="medium-12 columns">
                    <h4>Filter Surveys</h4>
                </div>
            </div>

            <div class="row">
                <div class="medium-12 columns">
                    <div class="row collapse">
                        <div class="medium-12 columns">
                            <input id="survey-search-field" type="text" placeholder="Search by survey name">
                        </div>
                    </div>
                </div>
            </div>
        <!--<div class="panel">-->
            <div class="row">
                <div class="medium-12 columns">
                    <h4>Surveys <small>Displaying 100 most recent surveys</small></h4>
                </div>
            </div>

            <div class="row">
                <div id="surveys-table" class="medium-12 columns"></div>
            </div>
        <!--</div>-->
    </div>
</div>

