<div class="row">
    <div class="medium-12 columns">
        <h1>Overview</h1>
    </div>
</div>

<div class="row">
    <div class="medium-12 columns">
        <a href="new-survey" class="button small">Create new survey</a>
        <a href="#" class="button small">Export all surveys</a>
    </div>
</div>

<div class="row">
    <div class="medium-12 columns">
        <h4>Survey Filter Options <small>For filter use, see <a href="support">support</a></small></h4>
    </div>
</div>

<!--<form>-->
    <div class="row">
        <div class="medium-12 columns">
            <div class="row collapse">
                <div class="small-10 columns">
                    <input id="survey-search-field" type="text" placeholder="Enter filter">
                </div>
                <div class="small-2 columns">
                    <a id="survey-search-button" class="button postfix">Search</a>
                </div>
            </div>
        </div>
    </div>
<!--</form>-->

<div class="row">
    <div class="medium-12 columns">
        <h4>Surveys <small>Click a survey for more options</small></h4>
    </div>
</div>

<div class="row">
    <div id="surveys-table" class="medium-12 columns"></div>
</div>