<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Overview</h2>
        </div>
    </div>
    <div class="row extra-space">
        <div class="col-md-12">
            <a class="btn btn-primary" href="#new-survey" role="button">
                <i class="fa fa-plus fa-fw"></i> Add survey
            </a>
            <a class="btn btn-info" role="button">
                <i class="fa fa-file fa-fw"></i> Export all to CSV
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h4>Surveys Created <small class="hidden-xs">Click a survey for more options</small></h4></div>
                <div class="panel-body">
                    <div id="surveys-table" class="table-responsive"></div>
                </div>
            </div>
        </div>
    </div>
</div>