<div class="fill login-container">
    <div class="row">
        <div class="medium-6 medium-centered columns login-image">

        </div>
    </div>
    <div class="row">
        <div class="medium-6 medium-centered columns">
            <div class="panel">
                <div class="panel-heading">
                    <h3>Request a new account</h3>
                </div>
                <hr>
                <div class="panel-body">
                    <form id="registerForm">
                        <div class="row">
                            <div class="small-12 columns">
                                <label for="username">
                                    Username
                                    <input type="text" id="username" name="username" placeholder="Enter username">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-12 columns">
                                <label for="email">
                                    Email
                                    <input type="text" id="email" name="email" placeholder="Enter email">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-12 columns">
                                <label for="password">
                                    Password
                                    <input type="password" id="password" name="password" placeholder="Enter email">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-12 columns">
                                <label for="firstName">
                                    First Name
                                    <input type="text" id="firstName" name="firstName" placeholder="Enter first name">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-12 columns">
                                <label for="lastName">
                                    Last Name
                                    <input type="text" id="lastName" name="lastName" placeholder="Enter last name">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-12 columns">
                                <button type="submit" class="button" style="width: 100%">Request account</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <p class="text-center"><a href="/" style="color: #ffffff;">Go back.</a></p>
    </div>

</div>