<div id="toolcontainer" style="width: 100vw">
    <div id="titlebar" class="medium-12 columns" style="background-color: #008CBA;">
        <h1 style="color: #ffffff">Responses
            <small class="small-name" id="surveyName"></small>
        </h1>
    </div>

    <div id="toolbar" class="toolbar medium-12 columns">
        <ul>
            <li id="exportAll" class="toolbar-item">Export to CSV</li>
            <li id="deleteRows" class="toolbar-item">Delete Selected Row</li>
        </ul>
    </div>
</div>
<div id="tableRegion" style="overflow-x: auto; min-width: 100vw;"></div>
