<div class="row">
    <div class="medium-12 columns">
        <h1>Responses</h1>
        <h4>{{survey_name}}</h4>
        <hr>
    </div>
</div>

<div class="row">
    <div class="medium-12 columns">
        <table class="medium-12 columns">
            <thead>
                <tr>
                    <td width="25"></td>
                    <td>Email</td>
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>Street Address</td>
                    <td>City</td>
                    <td>State</td>
                    <td>Zip Code</td>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>