<div class="medium-12 columns" style="background-color: #007095;">
    <h1 style="color: #ffffff">Responses
        <small id="surveyName" style="color: #ECEFF1"></small>
    </h1>
</div>

<div id="tableRegion" style="overflow-x: scroll; min-width: 100vw;"></div>