<div class="medium-12 columns" style="background-color: #008CBA;">
    <h1 style="color: #ffffff">Responses
        <small class="small-name" id="surveyName"></small>
    </h1>
</div>

<div id="tableRegion" style="overflow-x: scroll; min-width: 100vw;"></div>