<div class="container">
    <div class="row">
        <div class="col-sm-10 col-md-7 col-centered">
            <h1>{{survey_name}}</h1>
        </div>
        <div class="col-sm-10 col-md-7 col-centered">
            <hr class="form-divider">
        </div>
    </div>
    <div class="row">
        <form id="surveyForm" class="form-horizontal">
            <div class="col-sm-10 col-md-7 col-centered well">

                <div class="form-group">
                    <div class="col-sm-12">
                        <h3 class="text-center blue">Basic Information</h3>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="control-label col-sm-4">Email</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="email">
                    </div>
                </div>


                <div class="form-group">
                    <label for="firstName" class="control-label col-sm-4">First Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="firstName" >
                    </div>
                </div>


                <div class="form-group">
                    <label for="middleInitial" class="control-label col-sm-4">Middle Initial</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="middleInitial">
                    </div>
                </div>


                <div class="form-group">
                    <label for="lastName" class="control-label col-sm-4">Last Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="lastName">
                    </div>
                </div>


                <div class="form-group">
                    <label for="address" class="control-label col-sm-4">Street Address</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="address">
                    </div>
                </div>


                <div class="form-group">
                    <label for="city" class="control-label col-sm-4">City</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="city">
                    </div>
                </div>


                <div class="form-group">
                    <label for="state" class="control-label col-sm-4">State</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="state">
                    </div>
                </div>


                <div class="form-group">
                    <label for="zipCode" class="control-label col-sm-4">Zip Code</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="zipCode">
                    </div>
                </div>


                <div class="form-group">
                    <label for="telephone" class="control-label col-sm-4">Telephone</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="telephone" placeholder="(860) 555-1234">
                    </div>
                </div>


                <div class="form-group">
                    <label for="birthdate" class="control-label col-sm-4">Date of Birth</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="birthdate" data-provide="datepicker" placeholder="MM/DD/YYYY">
                    </div>
                </div>


                <div class="form-group">
                    <label for="gender" class="control-label col-sm-4">Gender</label>
                    <div class="col-sm-8">
                        <label class="radio-inline">
                            <input type="radio" name="genderRadio" id="genderMale" value="male"> Male
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="genderRadio" id="genderFemale" value="female"> Female
                        </label>
                    </div>
                </div>


                <div class="form-group">
                    <label for="highSchoolName" class="control-label col-sm-4">High School Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="highSchoolName">
                    </div>
                </div>


                <div class="form-group">
                    <label for="highSchoolYear" class="control-label col-sm-4">High School Year</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="highschoolyear">
                    </div>
                </div>


                <div class="form-group">
                    <label for="ethnicity" class="control-label col-sm-4">Ethnicity</label>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="radio-inline">
                                    <input type="radio" name="ethnicity" value="1"> American Indian
                                </label>
                            </div>
                            <div class="col-sm-6">
                                <label class="radio-inline">
                                    <input type="radio" name="ethnicity" value="2"> Alaskan Native
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="radio-inline">
                                    <input type="radio" name="ethnicity" value="3"> African/Black American
                                </label>
                            </div>
                            <div class="col-sm-6">
                                <label class="radio-inline">
                                    <input type="radio" name="ethnicity" value="4"> Asian/Pacific American
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="radio-inline">
                                    <input type="radio" name="ethnicity" value="5"> Latino/Hispanic American
                                </label>
                            </div>
                            <div class="col-sm-6">
                                <label class="radio-inline">
                                    <input type="radio" name="ethnicity" value="6"> Puerto Rican
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="radio-inline">
                                    <input type="radio" name="ethnicity" value="7"> White American
                                </label>
                            </div>
                            <div class="col-sm-6">
                                <label class="radio-inline">
                                    <input type="radio" name="ethnicity" value="8"> Other
                                </label>
                            </div>
                        </div>
                        <div id="ethnicityOtherContainer" class="row" style="display: none;">
                            <div class="col-sm-12 extra-space">
                                <input type="text" class="form-control" id="ethnicityOther"  placeholder="Other">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-12">
                        <h3 class="text-center blue">What undergraduate programs would you like to learn more about?</h3>
                    </div>
                </div>


                <div class="form-group">
                    <label for="ethnicity" class="control-label col-sm-4">
                        Information Sciences & Technology (B.S.)
                    </label>
                    <div class="col-sm-8">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="interestIST" value="ISDEV"> Information Systems: Design & Development
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="interestIST" value="ITINT"> Information Technology: Integration & Application
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="interestIST" value="ISPP"> Information Context: People, Organizations, and Society
                            </label>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label for="ethnicity" class="control-label col-sm-4">Security and Risk Analysis (B.S.)</label>
                    <div class="col-sm-8">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="interestSRA" value="IAM"> Intelligence Analysis and Modeling
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="interestSRA" value="ICS"> Information and Cyber Security
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="interestSRA" value="SFR"> Social Factors and Risk
                            </label>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label for="ethnicity" class="control-label col-sm-4">Are you interested in graduate programs?</label>
                    <div class="col-sm-8">
                        <label class="radio-inline">
                            <input type="radio" name="interestGraduate" value="yes"> Yes
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="interestGraduate" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="ethnicity" class="control-label col-sm-4">Other information</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" rows="5"></textarea>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-12">
                        <hr class="form-divider">
                    </div>
                    <div class="col-sm-12">
                        <a class="btn btn-default" id="" role="button">
                            <i class="fa fa-close fa-fw"></i> Cancel
                        </a>
                        <a class="btn btn-primary" id="" role="button">
                            <i class="fa fa-check fa-fw"></i> Submit
                        </a>
                    </div>
                </div>


            </div>
        </form>
    </div>
</div>