<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand">
                <img alt="Brand" src="/img/psu_2tone_short.png" height="40">
            </a>
        </div>
    </div>
</nav>

<div id="main"></div>