<td><a id="revokeAccessButton"><i class="fa fa-times"></i></a></td>
<td>{{username}}</td>
<td>{{email}}</td>
<td class="hide-for-small-down">{{first_name}}</td>
<td class="hide-for-small-down">{{last_name}}</td>